#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: scroll;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

.xyz {
  min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

.other {
  list-style-type: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  .fixed-brand {
    width: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
  }

  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }

  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
  }
}
.sidebar {
  z-index: 999999;
  position: fixed;
  top: -1px;
  bottom: -1px;
  padding: 0px;
  width: auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#label {
  position: absolute;
  margin: auto;
  left: -190px;
  width: 400px;
  height: 0;
  will-change: transform;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  letter-spacing: 5px;
  -webkit-transform-origin: center middle;
  transform-origin: center middle;
  color: #555555;
  transform: translateY(175px) rotate(-90deg);
  font-family: 'Rokkitt', serif;
}

.sidebar > .row > .col-xs-12, .sidebar > .row > .col-sm-12, .sidebar > .row > .col-md-12, .sidebar > .row > .col-lg-12 {
  padding: 0px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  overflow: auto;
}

.sidebar > .row {
  margin: 0px;
}

.sidebar {
  width: auto;
}

.sidebar.sidebar-left {
  left: 0px;
  right: 20px;
}

.sidebar.sidebar-right {
  right: 0px;
  left: 20px;
}

@media (max-width: 1920px) {
  .sidebar {
    width: 180px;
  }

  .sidebar.sidebar-left {
    left: 0px;
    right: auto;
  }

  .sidebar.sidebar-right {
    right: 0px;
    left: auto;
  }
}
.menu-item {
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.list-group {
  margin-top: 70px;
}

.toggler {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*  border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);*/
  width: 50px;
  height: 100%;
  position: absolute;
  /* top: 45%; */
  cursor: pointer;
  background-color: #fff;
  color: #6d6e71;
}

.sidebar-left > .toggler {
  /*      -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;*/
  border-left: 1px solid #fff;
  -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.175);
  right: -50px;
}

.sidebar-left > .toggler > span {
  margin: 15px 15px;
  font-size: 11px;
}

.sidebar-left > .toggler > .move-right {
  display: none;
}

.sidebar-right > .toggler {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #fff;
  -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.175);
  box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.175);
  left: -20px;
}

.sidebar-right > .toggler > span {
  margin: 15px 15px;
  font-size: 11px;
}

.sidebar-right > .toggler > .move-left {
  display: none;
}

.sidebar .submenu {
  display: none;
  position: fixed;
}

/*Native BootStrap Hack*/
.sidebar .list-group-item:last-child, .sidebar .list-group-item:first-child {
  border-radius: 0px;
}

.sidebar .list-group {
  margin-bottom: 0px;
}

.sidebar .list-group-item {
  /*  padding: 5px;
    border: 1px solid #DDD;
    border-left: 0px;
    border-right: 0px;*/
  margin-bottom: 0px;
  margin-top: -1px;
}

a.list-group-item:hover {
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

.list-group-item {
  border: none;
  padding: 1px 15px;
}

.list-group-item.active, .list-group-item.active:focus {
  z-index: 0;
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

.sidebar ul.list-group li a {
  border: none;
  padding: 3px 25px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #555;
  position: relative;
  display: block;
}

.sidebar ul.list-group li a:hover {
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

.sidebar {
  z-index: 999999;
  position: fixed;
  top: -1px;
  bottom: -1px;
  padding: 0px;
  width: auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#label {
  position: absolute;
  margin: auto;
  left: -190px;
  width: 400px;
  height: 0;
  will-change: transform;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  letter-spacing: 5px;
  -webkit-transform-origin: center middle;
  transform-origin: center middle;
  color: #555555;
  transform: translateY(175px) rotate(-90deg);
  font-family: 'Rokkitt', serif;
}

.sidebar > .row > .col-xs-12, .sidebar > .row > .col-sm-12, .sidebar > .row > .col-md-12, .sidebar > .row > .col-lg-12 {
  padding: 0px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  overflow: auto;
}

.sidebar > .row {
  margin: 0px;
}

.sidebar {
  width: auto;
}

.sidebar.sidebar-left {
  left: 0px;
  right: 20px;
}

.sidebar.sidebar-right {
  right: 0px;
  left: 20px;
}

/*@media (min-width: 400px) {

}
@media (min-width: 528px) {
      .sidebar {
            width: 300px;
      }
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }

      .sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
}
@media (min-width: 768px) {
      .sidebar {
            width: 230px;
      }
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }

      .sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
}
@media (min-width: 992px) {
      .sidebar {
            width: 230px;
      }
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }

      .sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
}*/
@media (max-width: 1920px) {
  .sidebar {
    width: 190px;
  }

  .sidebar.sidebar-left {
    left: 0px;
    right: auto;
  }

  .sidebar.sidebar-right {
    right: 0px;
    left: auto;
  }
}
.menu-item {
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.list-group {
  margin-top: 70px;
}

.toggler {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*  border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);*/
  width: 50px;
  height: 100%;
  position: absolute;
  /* top: 45%; */
  cursor: pointer;
  background-color: #fff;
  color: #6d6e71;
}

.sidebar-left > .toggler {
  /*      -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;*/
  border-left: 1px solid #fff;
  -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.175);
  right: -50px;
}

.sidebar-left > .toggler > span {
  margin: 15px 15px;
  font-size: 11px;
}

.sidebar-left > .toggler > .move-right {
  display: none;
}

.sidebar-right > .toggler {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #fff;
  -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.175);
  box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.175);
  left: -20px;
}

.sidebar-right > .toggler > span {
  margin: 15px 15px;
  font-size: 11px;
}

.sidebar-right > .toggler > .move-left {
  display: none;
}

.sidebar .submenu {
  display: none;
  position: fixed;
}

/*Native BootStrap Hack*/
.sidebar .list-group-item:last-child, .sidebar .list-group-item:first-child {
  border-radius: 0px;
}

.sidebar .list-group {
  margin-bottom: 0px;
}

.sidebar .list-group-item {
  /*  padding: 5px;
    border: 1px solid #DDD;
    border-left: 0px;
    border-right: 0px;*/
  margin-bottom: 0px;
  margin-top: -1px;
}

a.list-group-item:hover {
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

.list-group-item {
  border: none;
  padding: 1px 15px;
}

.list-group-item.active, .list-group-item.active:focus {
  z-index: 0;
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

.sidebar .list-group > a {
  border: none;
  padding: 3px 25px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #555;
  position: relative;
  display: block;
}

.sidebar .list-group > a:hover {
  color: #C7CECB !important;
  text-decoration: none !important;
  background-color: #fff;
}

header h1 {
  font-size: 15rem;
  padding-top: 25rem;
}

.full {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*   &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
      opacity: .6; 
    }*/
}

.full-about {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/about/noemie-one.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-bene {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bene/big.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-blue {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/blue/main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-rpj {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/rpj/rpj-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-perkins {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/pw/pw-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-shirt {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/shirts/shirts-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-chill {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/chill/chill-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-hack {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/hack/main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-exp {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/experiment/main.gif) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-tma {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/tma/tma-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-grady {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/grady/grady-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-poster {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/poster/post-main2.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*.full-poster {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/photo/keidra.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/
.white {
  color: #fff;
}

h1 {
  font-family: 'Rokkitt', serif;
}

h2 {
  font-family: 'Rokkitt', serif;
  font-size: 4rem;
  line-height: 3rem;
}

.alt-title {
  font-size: 4rem;
}

/*.tags{
  color: #fff;
  top: 65%;
  left: 0;
  right: 0;
  text-align: center;
  position: relative;
  font-family: 'Rokkitt', serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}*/
p {
  color: #6D6E71;
}

.back h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.back a {
  color: #555;
}
.back a:hover {
  color: #C7CECB !important;
  text-decoration: none !important;
}

.label {
  display: inline;
  padding: 0;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #797171;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.caption {
  letter-spacing: 0;
  color: #333;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
  display: inline;
  padding: 0;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
}

ul.tags {
  list-style-type: none;
  color: #000000;
  font-size: 1.2rem;
}

ul.tags li a {
  color: #000;
}
ul.tags li a:hover {
  color: #C7CECB;
  text-decoration: none;
}

h4 a {
  color: #000;
  font-family: 'Rokkitt', serif;
}
h4 a:hover {
  color: #C7CECB;
  text-decoration: none;
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
  padding: 8px 0;
}

.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.site-text {
  text-transform: none;
  color: #333;
  font-size: 75%;
  font-family: 'Rokkitt', serif;
}

.fa-2x {
  font-size: .9em !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  -webkit-transition: all .4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hovereffect h2 {
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: 'Oswald', serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0=-50%);
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

/**ORIGINAL VERSION**/
/*.grid-sizer { width: 20%; }
.item { width: 25%; }*/
/*.grid-sizer { width: 50%; }
.item { width: 50%; }*/
.grid-sizer,
.item {
  width: 33.33%;
}

.grid-sizer2,
.item2 {
  width: 25%;
}

@media screen and (max-width: 1224px) {
  .grid-sizer {
    width: 33.33%;
  }

  .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 720px) {
  .grid-sizer {
    width: 50%;
  }

  .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .grid-sizer {
    width: 100%;
  }

  .item {
    width: 100%;
  }
}
/*.grid-sizer { width: 20%; }
.item { width: 25%; }*/
/**** Isotope filtering ****/
.isotope-item {
  z-index: 999;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#filters {
  display: inline-flex;
  list-style-image: none;
  padding-right: 10px;
}

.bottom-button {
  position: absolute;
  top: 60%;
  left: 60%;
}

footer {
  margin-top: 10px;
  /* padding-bottom: 15px;*/
  /*    position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;*/
  /*    background-color: #f5f5f5;*/
}
footer h3 {
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .1em;
}
footer h4 {
  font-size: 1.5rem;
  font-family: 'Rokkitt', serif;
  line-height: .3em;
}
footer .icons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-footer {
  margin-top: 0;
  background-color: #1d1d1d;
  color: #fff;
  margin-bottom: 0;
  padding: 10px;
}

.social-links {
  /*    float: right;*/
  display: flex;
  padding: 3px 25px;
}
.social-links a {
  padding: 3px 10px 3px 0px !important;
}

.fa-2x {
  font-size: 1.5em;
}

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #1d1d1d;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Rokkitt", sans-serif;
  letter-spacing: 5px;
  color: #fff;
}

.pager li > a:hover, .pager li > a:focus {
  text-decoration: none;
  color: #1d1d1d;
}

@media (max-width: 767px) {
  .visible-xs {
    display: inline !important;
  }
}
section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.info {
  padding-left: 20px !important;
}

.site {
  background-color: #1d1d1d;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.gif {
  width: 1920px;
}
