//--------------------------------------*\
//	Global imports
//--------------------------------------*/

@charset "UTF-8";

/*@import "components/sidebar";
*//*@import "components/sidebar2";*/
@import "components/BootSideMenu";
@import "components/header";
@import "components/typography";
@import "components/video";
@import "components/hover";
@import "components/masonry";
@import "components/isotope";
@import "components/flexslider";
@import "components/gallery";
@import "components/button";
@import "components/navmenu";
@import "variables";

@mixin fill($padding: 0) {
  position: absolute;
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
}

[class^='imghvr-'],[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: $image-bg;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  @include transform(translateZ(0));
  > img {
    vertical-align: top;
    max-width: 100%;
  }
    figcaption {
      background-color: $figcaption-bg;
      padding: $figcaption-padding;
      @include fill;
      color: $text-color;
      h1, h2, h3, h4, h5, h6 {
        color: $text-color;
      }
    }
    a {
      @include fill;
      z-index: 1;
    }
}

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
  box-sizing: border-box;
  @include transition (all 0.35s ease);
}
@import "components/imghvr-push";


@import "modules/bene";
@import "modules/footer";
@import "modules/section";
@import "modules/home";

