head
  title Noemie Tshinanga
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
link(rel="icon", type="image/png", href='img/nt-favicon.ico')

// Basic page information 
meta(name='description', content='Description')
meta(name='keywords', content='noemie, tshinanga, design, atlanta')
meta(name='author', content='Noemie Tshinanga')


// Custom Google fonts
link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Rokkitt', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')

// Bootstrap CSS Style
link(href='css/bootstrap.css', rel='stylesheet')

//Main CSS Style
link(href='css/style.css', rel='stylesheet')
link(href='css/global.css', rel='stylesheet')

//jquery
script(src="http://code.jquery.com/jquery-1.11.0.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
script(src="js/src/bootsidemenu.js")
script(type="text/javascript").
  $(document).ready(function(){
    $('#test').BootSideMenu({side:"left", autoClose:true});
  });
