div#test2
  div.list-group
    a(href='/') Home
    a(href='http://noemietshinanga.com/work/') Work
    a(href='about') About Me
    a(href='service') My Services
    //- a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    a(href="#") Contact Me
  div.nav-text
    p Stay uncomfortable, folks

