div#test2
  div.list-group
    a(href='#') Home
    a(href='../working') Work
    a(href='../about') About Me
    a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    a(href="#") Contact Me

