div#test2
  div.list-group
    a(href='/') Home
    a(href='http://noemietshinanga.com/work/') Work
    a(href='about') About Me
    a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    a(href='http://blog.noemietshinanga.com/', target="_blank") Style
    div.social-links
      a(href="https://instagram.com/noemiemarguerite/", target="_blank")
          i.fa.fa-instagram.fa-2x
        a(href="https://twitter.com/noemietshinanga", target="_blank")
          i.fa.fa-twitter.fa-2x
        a(href="https://vimeo.com/noemiet", target="_blank")
          i.fa.fa-vimeo.fa-2x
    //- a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    //- a(href='mailto:info@noemietshinanga.com') Contact Me



