div#test
  div.list-group
    a.list-group-item.menu-item(href="#") Home
    a.list-group-item.menu-item(href='#') Work
    a.list-group-item.menu-item(href="#") About Me
    a.list-group-item.menu-item(href="#") Photography
    a.list-group-item.menu-item(href="#") Contact Me

