div#test2
  div.list-group
    a(href='/') Home
    a(href='http://noemietshinanga.com/work/') Work
    a(href='about') About Me
    a(href='http://blog.noemietshinanga.com/') Blog
    //- a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    a(href="#") Contact Me


