div#test2
  div.list-group
    a(href='index.html') Home
    a(href='../work.html') Work
    a(href='../about.html') About Me
    a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    a(href="#") Contact Me

