//- div#test2.sidebar-nav
//-   div.list-group
//-     a.sidebar-brand(href="#") 
//-         img(src='/img/sym-black.png')
//-     a(href='http://noemietshinanga.com/work/') Design
//-     a(href='http://noemietshinanga.com/work/') Web
//-     a(href='http://noemietshinanga.com/work/') Video
//-     a(href='about') About Me
//-     a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
//-     a(href='https://lookandfeelblog.tumblr.com/', target="_blank") Style
//-     div.social-links
//-       a(href="https://instagram.com/noemiemarguerite/", target="_blank")
//-           i.fa.fa-instagram.fa-2x
//-         a(href="https://twitter.com/noemietshinanga", target="_blank")
//-           i.fa.fa-twitter.fa-2x
//-         a(href="https://vimeo.com/noemiet", target="_blank")
//-           i.fa.fa-vimeo.fa-2x

div#myNavmenu.sidebar-nav.navmenu-fixed-left.offcanvas
  div.row
    div.col-xs-12.col-sm-12.col-md-12.col-lg1-12
      div.list-group
        //- a.sidebar-brand(href="#") 
        //-     img(src='/img/sym-black.png')
        a.title work
        a.menu-item(href='http://noemietshinanga.com/work/') 001: Bene Scarves 
          span.menu-tag  Branding, Visual Design, Web Development
        a.menu-item(href='http://noemietshinanga.com/work/') 002: The Gathering Spot 
          span.menu-tag  Photography, Videography 
        a.menu-item(href='http://noemietshinanga.com/work/') 003: Chill Out 
          span.menu-tag  UX/UI Design, Mobile Development
        a.menu-item(href='http://noemietshinanga.com/work/') 004: The Journey With Blue 
          span.menu-tag  Web Design, Photography, Videography
        a.menu-item(href='http://noemietshinanga.com/work/') 005: Perkins + Will 
          span.menu-tag  UX/UI Design, Web Development
        a.menu-item(href='http://noemietshinanga.com/work/') 006: Reach 
          span.menu-tag  UX/UI Design, Web Development
        a.menu-item(href='http://noemietshinanga.com/work/') 007: Grady 
          span.menu-tag  Logo Design
        a.menu-item(href='http://noemietshinanga.com/work/') 008: The Experiment 
          span.menu-tag  Videography
        a.title(href='about') about noemie tshinanga

      div.list-group
        a.title outside links
        a.menu-item(href='http://www.noemie-marguerite.com/', target="_blank") Noemie-Marguerite 
          span.menu-tag photography portfolio
        a.menu-item(href='https://lookandfeelblog.tumblr.com/', target="_blank") Videography 
          span.menu-tag self explanatory
        a.menu-item(href='https://lookandfeelblog.tumblr.com/', target="_blank") The Art Cycle 
          span.menu-tag i sell graphic tees
        a.menu-item(href='https://lookandfeelblog.tumblr.com/', target="_blank") Look &amp; Feel 
          span.menu-tag Fashion Blog
          div.social-links
            a(href="https://instagram.com/noemiemarguerite/", target="_blank")
                i.fa.fa-instagram.fa-2x
              a(href="https://twitter.com/noemietshinanga", target="_blank")
                i.fa.fa-twitter.fa-2x
              a(href="https://vimeo.com/noemiet", target="_blank")
                i.fa.fa-vimeo.fa-2x
div.navbar.navbar-default.navbar-fixed-left
  button(type="button").navbar-toggle(data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body")
    span.menu-text menu


//- div#wrapper
//-   div.overlay
//-   nav.navbar.navbar-inverse.navbar-fixed-top#sidebar-wrapper(role="navigation")
//-     ul.nav.sidebar-nav
//-       li.sidebar-brand
//-         a(href="#") Bootstrap 3
//-       li
//-         a(href="#") Home
//-       li
//-         a(href="#") First Page
//-       li
//-         a(href="#") Second Page
//-       li
//-         a(href="#") Third Page

//- div.container.sidebar.sidebar-left
//-   div.list-group
//-     a(href='/') Home
//-     a(href='http://noemietshinanga.com/work/') Work
//-     a(href='about') About Me
//-     a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
//-     //- a(href='https://vimeo.com/noemiet', target="_blank") Video
//-     a(href='https://lookandfeelblog.tumblr.com/', target="_blank") Style
//-     div.social-links
//-       a(href="https://instagram.com/noemiemarguerite/", target="_blank")
//-           i.fa.fa-instagram.fa-2x
//-         a(href="https://twitter.com/noemietshinanga", target="_blank")
//-           i.fa.fa-twitter.fa-2x
//-         a(href="https://vimeo.com/noemiet", target="_blank")
//-           i.fa.fa-vimeo.fa-2x

//- nav#test
//-   ul.list-group
//-     li 
//-       a(href='/') Home
//-     li
//-       a(href='http://noemietshinanga.com/work/') Work
//-     li
//-       a(href="about") About Me
//-     li
//-       a(href='http://blog.noemietshinanga.com/') Blog
//-     li
//-       div.social-links
//-         a(href="https://instagram.com/noemiemarguerite/", target="_blank")
//-           i.fa.fa-instagram.fa-2x
//-         a(href="https://twitter.com/noemietshinanga", target="_blank")
//-           i.fa.fa-twitter.fa-2x
//-         a(href="https://vimeo.com/noemiet", target="_blank")
//-           i.fa.fa-vimeo.fa-2x
    //- a(href='http://www.noemie-marguerite.com/', target="_blank") Photography
    //- li
    //-   a(href='mailto:info@noemietshinanga.com') Contact Me


