div#wrapper
  div#sidebar-wrapper
    ul.sidebar-nav.nav-pills.nav-stacked#menu
      li.active
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-dashboard.fa-stack-1x Dashboard
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-flag.fa-stack-1x Shortcut   
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-cloud-download.fa-stack-1x Overview
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-cart-plus.fa-stack-1x Event
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-youtube-play.fa-stack-1x About
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-wrench.fa-stack-1x Services
      li
        a(href="#")
        span.fa-stack.fa-lg.pull-left
        i.fa.fa-server.fa-stack-1x Contact
