div.sidebar-wrapper
  ul.sidebar-nav.nav-pills.nav-stacked#menu
    li.active
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-dashboard.fa-stack-1x Dashboard
            ul.nav-pills.nav-stacked
              li
                a(href="#") link1
              li
                a(href="#") link2
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-flag.fa-stack-1x Shortcut
            ul.nav-pills.nav-stacked
              li
                a(href="#")
                  span.fa-stack.fa-lg.pull-left
                    i.fa.fa-flag.fa-stack-1x link1
              li
                a(href="#")
                  span.fa-stack.fa-lg.pull-left
                    i.fa.fa-flag.fa-stack-1x link2      
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-cloud-download.fa-stack-1x Overview
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-cart-plus.fa-stack-1x Event
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-youtube-play.fa-stack-1x About
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-wrench.fa-stack-1x Services
    li
      a(href="#")
        span.fa-stack.fa-lg.pull-left
          i.fa.fa-server.fa-stack-1x Contact
