doctype html
html(lang="en")
  head
    include head/_art-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/art_content.html
     include footer/_art-footer.html
     include _scripts.html