doctype html
html(lang="en")
  head
    include _head.jade
  body.pl
    include _sidebar.jade
    include page-contents/bene_content.html
    include page-contents/back_content.html
    include _scripts.html