doctype html
html(lang="en")
  head
    include head/_ben-head.jade
  body
    //- include _sidebar2.jade
    include _sidebar.jade
    main
     include page-contents/bene_content.html
     include footer/_ben-footer.html
     include _scripts.html