doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/blue_content.html
     include _blu-footer.html
     include _scripts.html