doctype html
html(lang="en")
  head
    include head/_blu-head.jade
  body
    include _sidebar2.jade
    main.alt-grid
     include page-contents/blue_content.html
     include footer/_blu-footer.html
     include _scripts.html