doctype html
html(lang="en")
  head
    include head/_chi-head.jade
  body
    include _sidebar2.jade
    main.alt-grid
     include page-contents/chill_content.html
     include footer/_chi-footer.html
     include _scripts.html