doctype html
html(lang="en")
  head
    include head/_exp-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/experiment_content.html
     include footer/_exp-footer.html
     include _scripts.html