doctype html
html(lang="en")
  head
    include head/_gra-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/grady_content.html
     include footer/_grady-footer.html
     include _scripts.html