doctype html
html(lang="en")
  head
    include head/_hac-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/hack_content.html
     include footer/_hac-footer.html
     include _scripts.html