doctype html
html(lang="en")
  head
    include head/_head.jade
  body
    include _sidebar.jade
    main.alt-grid
      include page-contents/index_content.html
      //- include _footer.html
      include _scripts.html