doctype html
html(lang="en")
  head
    include head/_mor-head.jade
  body
    include _sidebar2.jade
    main.alt-grid
     include page-contents/morning_content.html
     include footer/_mor-footer.html
     include _scripts.html