doctype html
html(lang="en")
  head
    include head/_head.jade
  body
    include _sidebar2.jade
    main.alt-grid
     include page-contents/perkins_content.html
     include footer/_per-footer.html
     include _scripts.html