doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/photography_content.html
     include _pho-footer.html
     include _scripts.html