doctype html
html(lang="en")
  head
    include head/_rea-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/reach_content.html
     include footer/_rea-footer.html
     include _scripts.html