doctype html
html(lang="en")
  head
    include head/_roy-head.jade
  body
    include _sidebar2.jade
    main.alt-grid
     include page-contents/royal_content.html
     include footer/_roy-footer.html
     include _scripts.html