doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/shirt_content.html
     include page-contents/back_content.html
     include _scripts.html