doctype html
html(lang="en")
  head
    include head/_shi-head.jade
  body
    include _sidebar.jade
    main.alt-grid
     include page-contents/shirt_content.html
     include footer/_shi-footer.html
     include _scripts.html