header h1{
  font-size: 15rem;
  padding-top: 25rem;
}
.full {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*   &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6; 
  }*/
}

.full-about {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/about/noemie-one.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-bene {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bene/big.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-blue {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/blue/main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



.full-rpj {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/rpj/rpj-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-perkins {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/pw/pw-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-shirt {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/shirts/shirts-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-chill {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/chill/chill-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-hack {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/hack/main2.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-exp {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/experiment/main.gif) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-tma {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/tma/tma-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-grady {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/grady/grady-main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-poster {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/poster/post-main2.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-poster {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/photo/keidra.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}