/**ORIGINAL VERSION**/

/* fluid 5 columns */
.grid-sizer{
  width: 100%;
}
.item { width: 33.33%; }
/* 2 columns*/ 
.item--width2 { width: 40%; }
.masonry-container:after {
  content: '';
  display: block;
  clear: both;
}

/*.grid-sizer,
.item {
  width: 100%;
}*/



/*.item {
  float: left;
  margin-bottom: 10px;
}

.item .hovereffect img {
  display: block;
  max-width: 100%;
}*/

/*.grid-sizer,
.item{ 
  width: 100%; 
}*/

/*.grid-sizer2,
.item2{
  width:25%;
}


@media screen and (max-width: 1224px) {
  .grid-sizer { width: 33.33%; }
  .item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .item { width: 50%; }
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .item { width: 100%; }
}*/

/*.grid-sizer { width: 20%; }
.item { width: 25%; }*/