.white{
  color: #fff;
}

h1{
  font-family: 'Rokkitt', serif;
}
h2{
  font-family: 'Rokkitt', serif;
  font-size: 6rem;
  line-height: 3rem;
}

.alt-title{
  font-size: 4rem;
}

.tags{
  font-style: italic;
}

p{
  color: #6D6E71;
}