.white{
  color: #fff;
}

h1{
  font-family: 'Rokkitt', serif;
}
h2{
  font-family: 'Rokkitt', serif;
  font-size: 5rem;
  line-height: 3rem;
}

.alt-title{
  font-size: 4rem;
}

.tags{
  /*font-style: italic;*/
}

p{
  color: #6D6E71;
}

.back{
  h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  }
  a{
  color: #555;

  &:hover{
    color: #C7CECB !important;
    text-decoration: none !important;
  }
}
}

.label{
  display: inline;
  padding: 0;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #797171;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

ul.tags{
  list-style-type:none;
  color: #000000;
  font-size: 1.2rem;
}