.white-bg{
  background-color: #fff;
/*  display: table;
  position: relative;*/
  width: 100%;
  height: 100%;
}


.navbar-toggle {
  display: block;
/*  background-image: url(../img/open2.png);*/
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  margin-top: 50px;
  float: right;
  position: fixed;
}

.text-box{
  padding: 50px 80px;
}