.white-bg{
  background-color: #fff;
/*  display: table;
  position: relative;*/
  width: 100%;
  height: 100%;
}


.navbar-toggle {
  display: block;
  float: left;
  position: absolute;

}

.text-box{
      padding: 50px 60px !important;
}

.row{
  margin-right: 0px;
}
html{
  height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left-main{
  display : none;
  justify-content : center;
  align-items : center;
  background: url(../img/home/home-side.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
  color : #FFF;
  &:target{
    display: flex;
  }
}
.left-bene{
  display : none;
  justify-content : center;
  align-items : center;
  background: url(../img/work/bene2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
  color : #FFF;
  &:target{
    display:flex;
  }
}
.left-chill{
  display : none;
  justify-content : center;
  align-items : center;
  background: url(../img/work/chill.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
  color : #FFF;
  &:target{
    display:flex;
  }
}
.left-morning{
  display : none;
  justify-content : center;
  align-items : center;
  background: url(../img/work/morning2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
  color : #FFF;
  &:target{
    display:flex;
  }
}

.item-menu-1:hover + .left { 
  display : flex;
  justify-content : center;
  align-items : center;
  background: url(../img/work/bene2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
  color : #FFF;
  z-index:10;
}
.item-menu-2:hover ~ .display-box { background-color: #56584b; }
.item-menu-3:hover ~ .display-box { background-color: #332528; }
.item-menu-4:hover ~ .display-box { background-color: #2fa7a6; }
.item-menu-5:hover ~ .display-box { background-color: #31d4c3; }
.item-menu-6:hover ~ .display-box { background-color: #6e34d5; }
.item-menu-7:hover ~ .display-box { background-color: #a00d05; }
.item-menu-8:hover ~ .display-box { background-color: #71e708; }

.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
}