.white-bg{
  background-color: #fff;
/*  display: table;
  position: relative;*/
  width: 100%;
  height: 100%;
}


.navbar-toggle {
  display: block;
  float: left;
  position: absolute;

}

.text-box{
      padding: 50px 60px !important;
}

.row{
  margin-right: 0px;
}